@mixin links {
    text-decoration: none;
    color: $color-fuentes;
    font-size: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .inicio {
        @include links;
        
        img{
            font-size: 4rem;
            color: $color-botones;
        }

        h1{
            display: inline-block;
            font-size: 3rem;
            font-weight: 500;
        }
    }

    ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 3rem;

            a{
                @include links;

                &:hover {
                    color: $color-fuentes-sec;
                }
            }
        }
    }


}

